---
// GridCard.astro
import { getPageInfo, getLatestPosts } from "../lib/wp";
import Card from "./Card.astro";
const { title, content } = await getPageInfo("bienvenidos-a-gamehub");
const posts = await getLatestPosts({ perPage: 3 });
---

<div class="bg-gray-50 dark:bg-slate-900 px-4 py-16 sm:py-24">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="text-center mb-16">
			<h2 class="text-4xl sm:text-5xl font-bold text-slate-900 dark:text-white mb-6">
				{title}
			</h2>
			<div 
                class="mx-auto max-w-3xl text-xl text-slate-600 dark:text-slate-300 [&>p]:leading-relaxed" 
                set:html={content} 
            />
		</div>
		
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10">
			{posts.map((post: any) => <Card {...post} />)}
		</div>
	</div>
</div>